@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .separator {
    height: 1px;
    @apply w-full bg-gray-300;
  }
  .recent-login-card {
    @apply grid border-dashed relative border-2  w-44 cursor-pointer rounded-lg transform transition-transform active:scale-95;
    height: 218px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 36px;
  }
  .v-center {
    @apply flex justify-center items-center;
  }

  .dialog {
    @apply justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none;
  }
  .dialog-overlay {
    @apply fixed inset-0;
  }
  .dialog-backdrop {
    @apply absolute inset-0 bg-black dark:bg-gray-900 opacity-40;
  }
  .link {
    @apply text-blue-600 no-underline hover:text-blue-800;
  }
  .button {
    @apply focus:outline-none transition-all focus:ring-2 active:transform active:scale-95 font-semibold  rounded-lg;
  }

  .navigation-item {
    @apply text-gray-500 hover:text-gray-900 text-sm pr-8 font-medium cursor-pointer;
  }
}
